@charset "UTF-8"

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
}

body {
    background-image: linear-gradient(to right, #F5B07F, #FA8576);
}

main {
    background-color: whitesmoke;
    width: 600px;
    border-radius: 14px;
    box-shadow: 5px 5px 5px rgb(87, 62, 62);
    padding: 10px;
    margin: auto;
}

h1 {
    color:#41A8E0 ;
    text-align: center;
    text-shadow: 1px 1px 0px rgb(109, 70, 70);
}

h2 { color: #68DEC6;

}

p {
    text-align: justify;
}